@import url('https://use.typekit.net/fsp3bbz.css');

body, html {
  font-family: nimbus-sans, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  color: #333;
}

a {
  color: #333 !important;
}

* {
  box-sizing: border-box;
}

nav.navbar {
  padding: 2rem 0 !important;
}

a.navbar-item h1 {
  margin: 0;
  font-family: ff-spinoza-web-pro, serif;
  font-size: 5rem !important;
  font-weight: 500;
  line-height: 1;
  color: #121212;
  text-align: left;
}

a.navbar-item {
  font-family: eb-garamond, serif;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  color: #121212 !important;
}

blockquote  {
  margin:  0 !important;
  margin-bottom: 3rem !important;
  background: none !important;
  font-style: normal !important;
}

blockquote h3 {
  font-family: orpheuspro, serif !important;
  font-size: 1.75rem !important;
  font-weight: 500 !important;
  line-height: 1.3;
  color: #696969;
}

blockquote p  {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  font-family: orpheuspro, serif !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  line-height: 1.3;
  color: #696969;
}

article .meta h1 {
  margin: 0 !important;
  font-family: orpheuspro, serif !important;
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  line-height: 2 !important;
  word-spacing: 0.02rem !important;
  letter-spacing: 0.028rem  !important;
  color: #333;
}

article p{
  margin-bottom: 1.125rem !important;
  margin-top: 0.25rem !important;
  font-family: orpheuspro, serif !important;
  font-weight: normal;
  letter-spacing: 0.028rem ;
  font-size: 1.25rem !important;
  line-height: 1.75 !important;
  color: #121212 !important;
}


p.date {
  font-family: orpheuspro, serif;
  font-size: 1rem !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
  color: #121212 !important;
}

.excerpt p{
  display: -webkit-box;
  margin: 0 0 1rem 0 !important;
  font-family: orpheuspro, serif !important;
  font-weight: 400 !important;
  font-size: 1.25rem !important;
  line-height: 1.75 !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #666 !important;
}

article h2 {
  font-family: orpheuspro, serif;
  font-weight: 500;
  font-size: 1.75rem !important;
  line-height: 1 !important;
  color: #333;

}

article h3 {
  margin: 0 !important;
  font-family: orpheuspro, serif;
  font-weight: 500;
  font-size: 1.25rem !important;
  line-height: 1 !important;
  color: #333;
}

article h5{
  margin: 0 !important;
  margin-top: 0.5rem !important;
  font-family: orpheuspro, serif;
  font-size: 1.25rem !important;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.028rem ;
  color: #000;
  line-height: 1 !important;
}

article h5:first-of-type {
  margin-top: 1rem !important;
}

article h5:last-of-type {
  margin-bottom: 1.5rem !important;
}

article h6{
  margin: 0 !important;
  margin-top: 0.5rem !important;
  font-family: orpheuspro, serif;
  font-size: 1.25rem !important;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.028rem ;
  color: #000;
  line-height: 1 !important;
}

article h6:first-of-type {
  margin-top: 1rem !important;
}

article h6:last-of-type {
  margin-bottom: 1.5rem !important;
}

.footer {
  padding: 3rem 0 !important;
  background: none !important;
}

@media (max-width: 414px) {
  a.navbar-item h1 { font-size: 2.5rem !important;}
  main { padding: 0 1rem !important;}
  blockquote h3 {font-size: 1.5rem !important;line-height: 1.3;}
  blockquote p  {font-size: 1.25rem !important;line-height: 1.3;}
  article { padding: 0; margin: 1rem 0; }
  article .meta h1 { margin-bottom: 0.75rem !important; font-size: 1.5rem !important; line-height: 1.25 !important;}
  article h2 {font-size: 1.25rem !important;line-height: 2 !important;}
  article p, .excerpt p{ margin: 0 !important;font-size: 1rem !important;line-height: 1.25 !important;}
  p.date {font-size: 0.75rem !important;}
}


@media (max-width: 375px) {
  a.navbar-item h1 { font-size: 2.5rem !important;}
  main { padding: 0 1rem !important;}
  blockquote h3 {font-size: 1.5rem !important;line-height: 1.3;}
  blockquote p  {font-size: 1.25rem !important;line-height: 1.3;}
  article { padding: 0; margin: 1rem 0; }
  article .meta h1 { margin-bottom: 0.75rem !important; font-size: 1.5rem !important; line-height: 1.25 !important;}
  article h2 {font-size: 1.25rem !important;line-height: 2 !important;}
  article p, .excerpt p{ margin: 0 !important;font-size: 1rem !important;line-height: 1.25 !important;}
  p.date {font-size: 0.75rem !important;}
}

@media (max-width: 320px) {
  a.navbar-item h1 { font-size: 2.5rem !important;}
  main { padding: 0 1rem !important;}
  blockquote h3 {font-size: 1.5rem !important;line-height: 1.3;}
  blockquote p  {font-size: 1.25rem !important;line-height: 1.3;}
  article { padding: 0; margin: 1rem 0; }
  article .meta h1 { margin-bottom: 0.75rem !important; font-size: 1.5rem !important; line-height: 1.25 !important;}
  article h2 {font-size: 1.25rem !important;line-height: 2 !important;}
  article p, .excerpt p{ margin: 0 !important;font-size: 1rem !important;line-height: 1.25 !important;}
  p.date {font-size: 0.75rem !important;}

}
